#Lab 1. An Introduction to Pandas and Python

In [6]:
!ls #run any command in linux

all.csv			  git-prompt.sh
branches.png		  git_push.png
cs109gitflow1.png	  git_status.png
cs109gitflow2.png	  hamlet.txt
cs109gitflow3.png	  hw0.ipynb
git_add.png		  jupyter.png
git_branch.png		  Lab1-babypython.ipynb
git_checkout.png	  Lab1-babypython_original.ipynb
git_clone.png		  Lab1-git.ipynb
git_commit.png		  Lab1-git_original.ipynb
git_fetch.png		  Lab1-pythonpandas.ipynb
github_branch.png	  Lab1-pythonpandas_original.ipynb
github_collaborators.png  mac-git-security.png
github-forking2.png	  pandastruct.png
github-forking3.png	  README.md
github-forking.png	  requirements.txt
github-https-clone.png	  sshkeygen.png
github_new.png		  wgi-defaultlines.png
github-ssh-clone.png	  wgi-git-bash.png
github_ssh.png		  wgi-scarymessage.png
git_layout.png		  wgi-usemintty.png
git_merge.png

In [7]:
!pip3 install --upgrade pip3
!pip3 install seaborn

Collecting pip3
  Could not find a version that satisfies the requirement pip3 (from versions: )
No matching distribution found for pip3
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting seaborn
  Using cached seaborn-0.7.1.tar.gz
Installing collected packages: seaborn
  Running setup.py install for seaborn ... - error
    Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-i0_3wowa/seaborn/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-kx3mqomz-record/install-record.txt --single-version-externally-managed --compile:
    running install
    running build
    running build_py
    creating build
    creating build/lib
    creating build/lib/seaborn
    copying seaborn/__init__.py -> build/lib/seaborn
    copying seaborn/distributions.py -> build/lib/seaborn
    copying seaborn/matrix.py -> build/lib/seaborn
    copying seaborn/utils.py -> build/lib/seaborn
    copying seaborn/algorithms.py -> build/lib/seaborn
    copying seaborn/apionly.py -> build/lib/seaborn
    copying seaborn/xkcd_rgb.py -> build/lib/seaborn
    copying seaborn/palettes.py -> build/lib/seaborn
    copying seaborn/linearmodels.py -> build/lib/seaborn
    copying seaborn/axisgrid.py -> build/lib/seaborn
    copying seaborn/timeseries.py -> build/lib/seaborn
    copying seaborn/crayons.py -> build/lib/seaborn
    copying seaborn/miscplot.py -> build/lib/seaborn
    copying seaborn/widgets.py -> build/lib/seaborn
    copying seaborn/rcmod.py -> build/lib/seaborn
    copying seaborn/categorical.py -> build/lib/seaborn
    creating build/lib/seaborn/external
    copying seaborn/external/__init__.py -> build/lib/seaborn/external
    copying seaborn/external/six.py -> build/lib/seaborn/external
    copying seaborn/external/husl.py -> build/lib/seaborn/external
    creating build/lib/seaborn/tests
    copying seaborn/tests/test_distributions.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_axisgrid.py -> build/lib/seaborn/tests
    copying seaborn/tests/__init__.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_rcmod.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_utils.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_linearmodels.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_algorithms.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_miscplot.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_palettes.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_matrix.py -> build/lib/seaborn/tests
    copying seaborn/tests/test_categorical.py -> build/lib/seaborn/tests
    running install_lib
    creating /usr/local/lib/python3.5/dist-packages/seaborn
    error: could not create '/usr/local/lib/python3.5/dist-packages/seaborn': Permission denied

    ----------------------------------------
Command "/usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-i0_3wowa/seaborn/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-kx3mqomz-record/install-record.txt --single-version-externally-managed --compile" failed with error code 1 in /tmp/pip-build-i0_3wowa/seaborn/
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns #sets up styles and gives us more plotting options

ImportError: No module named 'seaborn'

Python depends on packages for most of its functionality; these can be either built-in (such as sys), or third-party (like all the packages below). Either way you need to import the packages you need before using them.

## The Notebook

Look up http:/www.google.com Lets eat a burrito. $\alpha = \frac{\beta}{\gamma}$

Longer:

$$\alpha = \frac{\beta}{\gamma}$$

1. an item
2. another item
3. i like items

**bold**  *it

> important


```python
def func():
    print("Hello!")

```

##Pandas

Get Cheatsheet:

from https://drive.google.com/folderview?id=0ByIrJAE4KMTtaGhRcXkxNHhmY2M&usp=sharing


We read in some data from a CSV file. CSV files can be output by any spreadsheet software, and are plain text, so make a great way to share data. This dataset is from Goodreads: i scraped the highest regarded (according to Goodread's proprietary algorithm) books on that site. Ypu'll see how to do such a scraping in the next lab.

In [2]:
df=pd.read_csv("all.csv", header=None,
               names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'],
)
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

Notice we have a table! A spreadsheet! And it indexed the rows. Pandas (borrowing from R) calls it a DataFrame. Lets see the types of the columns...

`df`, in python parlance, is an **instance** of the `pd.DataFrame` class, created by calling the `pd.read_csv` function, which cllas the DataFrame constructor inside of it. If you dont understand this sentence, dont worry, it will become clearer later. What you need to take away is that `df` is a dataframe object, and it has **methods**, or functions belonging to it, which allow it to do things. For example `df.head()` is a method that shows the first 5 rows of the dataframe.

![](files/pandastruct.png)

###The basics

In [ ]:
df.dtypes

The shape of the object is:

In [ ]:
df.shape

6000 rows times 10 columns. A spredsheet is a table is a matrix. How can we access members of this **tuple** (brackets like so:() )

In [ ]:
df.shape[0], df.shape[1]

These are the column names.

In [ ]:
df.columns

As the diagram above shows, pandas considers a table (dataframe) as a pasting of many "series" together, horizontally.

In [ ]:
type(df.rating), type(df)

###Querying

A spreadsheet is useless if you cant dice/sort/etc it. Here we look for all books with a rating less than 3.

In [13]:
df.rating < 3

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5970    False
5971    False
5972    False
5973    False
5974    False
5975    False
5976    False
5977    False
5978    False
5979     True
5980    False
5981    False
5982    False
5983    False
5984    False
5985    False
5986    False
5987    False
5988    False
5989    False
5990    False
5991    False
5992    False
5993    False
5994    False
5995    False
5996    False
5997    False
5998    False
5999    False
Name: rating, dtype: bool

This gives us `True`s and `False`s. Such a series is called a mask. If we count the number of `True`s, and divide by the total, we'll get the fraction of ratings $\lt$ 3. To do this numerically see this:

In [12]:
np.sum(df.rating < 3)

4

In [14]:
df[df.rating < 3]

      rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                           dir rating_count                                  name
2609    2.90            8         NaN  good_reads:book  https://www.goodreads.com/author/show/7707820....  2013.0  /genres/romance|/genres/realistic-fiction|/gen...  dir27/19546932-how-to-be-a-perfect-girl.html           31              How To Be A Perfect Girl
3738    2.00          368  0983650322  good_reads:book  https://www.goodreads.com/author/show/9414.Vic...  2011.0  /genres/young-adult|/genres/science-fiction|/g...            dir38/12393909-revealing-eden.html          688  Revealing Eden (Save the Pearls, #1)
5844    2.97         1399  0395083621  good_reads:book  https://www.goodreads.com/author/show/30691.Ad...  1925.0  /genres/history|/genres/non-fiction|/genres/bi...                   dir59/54270.Mein_Kampf.html        12417                            Mein Kampf
5979    2.77          800  0060988649  good_reads:book  https://www.goodreads.com/author/show/7025.Gre...  2001.0  /genres/fantasy|/genres/fiction|/genres/myster...                         dir60/24929.Lost.html        11128                                  Lost

Why did that work?

In [ ]:
print 1*True, 1*False

So we ought to be able to do this

In [ ]:
np.sum(df.rating < 3)/df.shape[0]

But we get a 0? Why? In Python 2.x division is **integer division** by default. So one can fix by converting the `df.shape[0]` to a float

In [ ]:
np.sum(df.rating < 3)/float(df.shape[0])

Notice that you could just find the average since the `True`s map to 1s.

In [ ]:
np.mean(df.rating < 3.0)

Or directly, in Pandas, which works since `df.rating < 3` is a pandas Series.

In [ ]:
(df.rating < 3).mean()

###Filtering

Here are two ways to get a filtered dataframe

In [ ]:
df.query("rating > 4.5")

Here we create a mask and use it to "index" into the dataframe to get the rows we want.

In [ ]:
df[df.year < 0]

If you want to combine these conditions, use the second form and put '()' brackets around each condition. The query uses a boolean AND. Each condition ceates a mask of trues and falses.

In [ ]:
df[(df.year < 0) & (df.rating > 4)]#there were none greater than 4.5!

###Cleaning

We first check the datatypes. Notice that `review_count`, `rating_count` are of type `object` (which means they are either strings or Pandas couldnt figure what they are), while `year` is a float.

In [ ]:
df.dtypes

Suppose we try and fix this

In [ ]:
df['rating_count']=df.rating_count.astype(int)
df['review_count']=df.review_count.astype(int)
df['year']=df.year.astype(int)

Oppos we got an error. Something is not right. Its trying to convert some python datatype: `None` into an int. This usually means data was missing. Was it?

In [3]:
df[df.year.isnull()]

      rating review_count        isbn         booktype                                         author_url  year                                         genre_urls                                                dir rating_count                                               name
2442    4.23          526         NaN  good_reads:book  https://www.goodreads.com/author/show/623606.A...   NaN  /genres/religion|/genres/islam|/genres/non-fic...                       dir25/1301625.La_Tahzan.html         4134                                          La Tahzan
2869    4.61            2         NaN  good_reads:book  https://www.goodreads.com/author/show/8182217....   NaN                                                NaN  dir29/22031070-my-death-experiences---a-preach...           23  My Death Experiences - A Preacherâs 18 Apoca...
3643     NaN         None        None             None                                               None   NaN                                                NaN                    dir37/9658936-harry-potter.html         None                                               None
5282     NaN         None        None             None                                               None   NaN                                                NaN                       dir53/113138.The_Winner.html         None                                               None
5572    3.71           35  8423336603  good_reads:book  https://www.goodreads.com/author/show/285658.E...   NaN                                    /genres/fiction  dir56/890680._rase_una_vez_el_amor_pero_tuve_q...          403  Ãrase una vez el amor pero tuve que matarlo. ...
5658    4.32           44         NaN  good_reads:book  https://www.goodreads.com/author/show/25307.Ro...   NaN  /genres/fantasy|/genres/fantasy|/genres/epic-f...  dir57/5533041-assassin-s-apprentice-royal-assa...         3850  Assassin's Apprentice / Royal Assassin (Farsee...
5683    4.56          204         NaN  good_reads:book  https://www.goodreads.com/author/show/3097905....   NaN  /genres/fantasy|/genres/young-adult|/genres/ro...                  dir57/12474623-tiger-s-dream.html          895                 Tiger's Dream (The Tiger Saga, #5)

Aha, we had some incomplete data. Lets get rid of it

In [ ]:
df = df[df.year.notnull()]
df.shape

We removed those 7 rows. Lets try the type conversion again

In [ ]:
df['rating_count']=df.rating_count.astype(int)
df['review_count']=df.review_count.astype(int)
df['year']=df.year.astype(int)

In [ ]:
df.dtypes

Much cleaner now!

###Visualizing

Pandas has handy built in visualization.

In [ ]:
df.rating.hist();

We can do this in more detail, plotting against a mean, with cutom binsize or number of bins. Note how to label axes and create legends.

In [ ]:
sns.set_context("notebook")
meanrat=df.rating.mean()
#you can get means and medians in different ways
print meanrat, np.mean(df.rating), df.rating.median()
with sns.axes_style("whitegrid"):
    df.rating.hist(bins=30, alpha=0.4);
    plt.axvline(meanrat, 0, 0.75, color='r', label='Mean')
    plt.xlabel("average rating of book")
    plt.ylabel("Counts")
    plt.title("Ratings Histogram")
    plt.legend()
    #sns.despine()

One can see the sparseness of review counts. This will be important when we learn about recommendations: we'll have to *regularize* our models to deal with it.

In [ ]:
df.review_count.hist(bins=np.arange(0, 40000, 400))

The structure may be easier to see if we rescale the x-axis to be logarithmic.

In [ ]:
df.review_count.hist(bins=100)
plt.xscale("log");

Here we make a scatterplot in matplotlib of rating against year. By setting the alpha transparency low we can how the density of highly rated books on goodreads has changed.

In [ ]:
plt.scatter(df.year, df.rating, lw=0, alpha=.08)
plt.xlim([1900,2010])
plt.xlabel("Year")
plt.ylabel("Rating")

###Pythons and ducks

Notice that we used the series in the x-list and y-list slots in the `scatter` function in the `plt` module.

In working with python I always remember: a python is a duck.

What I mean is, python has a certain way of doing things. For example lets call one of these ways listiness. Listiness works on lists, dictionaries, files, and a general notion of something called an iterator.

A Pandas series plays like a python list:

In [ ]:
alist=[1,2,3,4,5]

We can construct another list by using the syntax below, also called a list comprehension.

In [ ]:
asquaredlist=[i*i for i in alist]
asquaredlist

And then we can again make a scatterplot

In [ ]:
plt.scatter(alist, asquaredlist);

In [ ]:
print type(alist)

In other words, something is a duck if it quacks like a duck. A Pandas series quacks like a python list. They both support something called the iterator protocol, an notion of behaving in a "listy" way. And Python functions like `plt.scatter` will accept anything that behaves listy. Indeed here's one more example:

In [ ]:
plt.hist(df.rating_count.values, bins=100, alpha=0.5);

In [ ]:
print type(df.rating_count), type(df.rating_count.values)

Series and numpy lists behave similarly as well.


### Vectorization

Numpy arrays are a bit different from regular python lists, and are the bread and butter of data science. Pandas Series are built atop them.

In [ ]:
alist + alist

In [ ]:
np.array(alist)

In [ ]:
np.array(alist)+np.array(alist)

In [ ]:
np.array(alist)**2

In other words, operations on numpy arrays, and by extension, Pandas Series, are **vectorized**. You can add two numpy lists by just using `+` whereas the result isnt what you might expect for regular python lists. To add regular python lists elementwise, you will need to use a loop:

In [ ]:
newlist=[]
for item in alist:
    newlist.append(item+item)
newlist

**Vectorization** is a powerful idiom, and we will use it a lot in this class. And, for almost all data intensive computing, we will use numpy arrays rather than python lists, as the python numerical stack is based on it. 

You have seen this in idea in spreadsheets where you add an entire column to another one.

Two final examples

In [ ]:
a=np.array([1,2,3,4,5])
print type(a)
b=np.array([1,2,3,4,5])

print a*b

In [ ]:
a+1